.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.slimscrollsidebar
    .sidebar-head
      %h3
        %span.fa-fw.open-close
          %i.ti-close.ti-menu
        %span.hide-menu Navigation
    %ul#side-menu.nav
      %li{:style => "padding: 70px 0 0;"}
        = link_to static_pages_path, id: "dashboard", class: "waves-effect" do 
          %i.fa.fa-clock-o{"aria-hidden" => "true", style: "margin-right: 10px"}
          Dashboard
      %li
        %a.waves-effect#data{:href => "#{cup_stats_path}"}
          %i.fa.fa-user{"aria-hidden" => "true", style: "margin-right: 10px"}
          Data
      %li
        %a.waves-effect#statistic{:href => "statistics"}
          %i.fa.fa-table{"aria-hidden" => "true", style: "margin-right: 10px"}
          Statistic
      %li
        %a.waves-effect#rp{:href => "rp"}
          %i.fas.fa-money-bill{"aria-hidden" => "true", style: "margin-right: 10px"}
          Riot Points
      %li
        %a.waves-effect#history{:href => "history"}
          %i.fas.fa-history{"aria-hidden" => "true", style: "margin-right: 10px"}
          History