%nav.navbar.navbar-default.navbar-static-top.m-b-0{style: "padding: 0"}
  .navbar-header
    .top-left-part
      %a.logo{:href => "index.html"}
        %b
          = image_tag "admin-logo.png", alt: "home", class: "dark-logo"
          = image_tag "admin-logo-dark.png", alt: "home", class: "light-logo"
        %span.hidden-xs
          = image_tag "admin-text.png", alt: "home", class: "dark-logo"
          = image_tag "admin-text-dark.png", alt: "home", class: "light-logo"
    %ul.nav.navbar-top-links.navbar-right.pull-right
      %li
        %form.app-search.hidden-sm.hidden-xs.m-r-10{:role => "search"}
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %a{:href => ""}
            %i.fa.fa-search
      %li
        %a.profile-pic{:href => "#"}
          %b
            Login