.container
  .row
    .col-6.offset-3.text-center{style: "font-size: 40px; font-weight: bold;margin-top: 20px"}
      Add Cups Stats
    .col-6.offset-3.text-center
      = text_field_tag "Navnode"
      %a.btn-primary.btn#add
        Add Cups
-content_for :javascript do
  :javascript
    $('#add').click(function() {
      $.ajax("#{cup_static_pages_path}",{
        method: "POST",
        data: {
          navnode: $('#Navnode').val()
        }
      }).done(function(data) {
        alert("Code: " + data["status"] + "\n" + data["message"]);
      })
    });