-content_for :title do
  ESLM Teams
.container-fluid
  .row.bg-title
    %h1
      ESLM Teams
  .row.justify-content-center
    .col-3
      .white-box
        %h3.box-title
          
        .ct-chart