.container-fluid
  .row.bg-title
    Cup List
    .row
      .col-12
        .white-box
          %h3.box-title
            = "Requests"
          %table.display#requests
            %thead
              %tr
                %th typ
                %th body
            %tbody
              - @request.each do |r|
                %tr
                  %td= r.typ
                  %td= r.body

- content_for :javascript do
  :javascript
    $('#history').addClass("active");
    $('#requests').DataTable();