-content_for :title do
  Home | ESL
.container-fluid
  .row.bg-title
    %h1
      Last 10 Cups
  .row
    .col-xs-12.col-sm-6.col-lg-3
      .white-box.analytics-info
        %h3.box-title
          Total Cups fetched
        %ul.list-inline.two-part
          %li.text-left
            %span.counter.text-success
              = CupStat.all.count
  .row.justify-content-center
    .col-12
      .white-box
        %h3.box-title
          Last 10 Cups
        .ct-chart
- content_for :javascript do
  :javascript
    $('#dashboard').addClass("active");
    var data = {
      // A labels array that can contain any sort of values
      labels: #{@cups_name.to_json.html_safe},
      // Our series array that contains series objects or in this case series data arrays
      series: [#{@cups_checked_in},#{@cups_signedup_in}]
    };

    // As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
    // as you saw in the previous example
    var options = {
      height: #{@cups_checked_in.count}*30,
      seriesBarDistance: 10,
      reverseData: true,
      horizontalBars: true,
      axisY: {
        offset: 70
      }
    };

    // Create a new line chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object. As a third parameter we pass in our custom options.
    new Chartist.Bar('.ct-chart', data, options);