.container-fluid
  .row.justify-content-center
    .col-7
      .white-box.analytics-info
        %h3.box-title
          Riot Points fetch RP
        .row.justify-content-center
          %input#url{:placeholder => "URL", :style => "width: 60%; padding: 10px; margin-bottom: 7px"}
        .row.justify-content-center
          %button.btn#sub
            GET
          .ranking
            - for i in 1..8
              .row.justify-content-center
                .col-6.text-center
                  %span{id: "teamname#{i.to_s}"}
                    = "Placeholder #{i.to_s}"
              .row.justify-content-center
                .col-6{style: "border-bottom: 1px solid gray; border-top: 1px solid gray"}
                  .row
                    - for x in 1..5
                      .col-6
                        %span{id: "t#{i.to_s}_name#{x.to_s}"}
                          = "Nummero #{x.to_s}"
                      .col-6
                        %span{id: "t#{i.to_s}_ga#{x.to_s}"}
                          = "Nr.#{x.to_s} on the World"
- content_for :javascript do
  :javascript
    $('#sub').click(function() {
      $.ajax("#{rps_static_pages_path}",{
        method: "POST",
        data: {
          url: $('#url').val()
        }
      }).done(function(data) {
        let r = data;
        console.log(r);
      })
    });
    $('#rp').addClass("active");