.container-fluid{style: "height: 100%; color: white"}
  .row#logos{style: "height: 198px"}
    .col-4
    .col-4
      .container-fluid
        .row
          .col-4
            10
          .col-4
          .col-4
            10
    .col-4
  .row#row1{style: "height: 136px; background-color: black"}
    .col-12.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Darius.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch ori-flipped"
      %span.name-left
        AEon 0rka
    .col-12{style: "max-width: 1200px"}
    .col-12.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Fiora.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch"
      %span.name-right
        TKA Novachrono
  .row#row2{style: "height: 136px; background-color: black"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Nocturne.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch ori-flipped"
      %span.name-left
        AEon Viper
    .col-12{style: "max-width: 1200px"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Rengar.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch"
      %span.name-right
        TKA Agurin
  .row#row3{style: "height: 136px; background-color: black"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Azir.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch ori-flipped"
      %span.name-left
        AEon Faizl
    .col-12{style: "max-width: 1200px"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Anivia.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch"
      %span.name-right
        TKA Reflexio
  .row#row4{style: "height: 136px; background-color: black"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Kai Sa.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch ori-flipped"
      %span.name-left
        AEon Gandi
    .col-12{style: "max-width: 1200px"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Vayne.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch"
      %span.name-right
        TKA Maroc3000
  .row#row5{style: "height: 136px; background-color: black"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Braum.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch ori-flipped"
      %span.name-left
        AEon Kamsa
    .col-12{style: "max-width: 1200px"}
    .col-3.no-p{style: "max-width: 360px"}
      = image_tag 'Champions/Lulu.jpg', style: "width: 100%; height: 136px;object-fit: cover", class: "ch"
      %span.name-right
        TKA Dreamer Ace
  .row#bans{style: "height: 198px; z-index: 1; background-color: black"}
    .col-3
      .row
        = image_tag 'Icons/Syndra.png', style: "position:  absolute;top: 23px;left: 12px;"
        = image_tag 'Icons/Vladimir.png', style: "position:  absolute;top: 23px;left: 79px;"
        = image_tag 'Icons/Draven.png', style: "position:  absolute;top: 23px;left: 150px;"
      .row
        = image_tag 'Icons/Kha Zix.png', style: "position:  absolute;top: 109px;left: 47px;"
        = image_tag 'Icons/Sejuani.png', style: "position:  absolute;top: 109px;left: 117px;"
    .col-6
    .col-3
      .row
        = image_tag 'Icons/Ryze.png', style: "position:  absolute;top: 23px;right: 12px;",class: "ori-flipped"
        = image_tag 'Icons/Alistar.png', style: "position:  absolute;top: 23px;right: 79px;",class: "ori-flipped"
        = image_tag 'Icons/Xin Zhao.png', style: "position:  absolute;top: 23px;right: 150px;",class: "ori-flipped"
      .row
        = image_tag 'Icons/Lucian.png', style: "position:  absolute;top: 109px;right: 47px;",class: "ori-flipped"
        = image_tag 'Icons/Varus.png', style: "position:  absolute;top: 109px;right: 117px;",class: "ori-flipped"
