%form{:action => "#{login_sessions_path}", :method => "post"}
  %h2
    Login PUBG ESLM
  Passwort:
  %br/
  %input{:name => "password", :type => "password"}/
  %br/
  %input{:type => "submit", :value => "Submit"}/
