/* line 1, app/assets/stylesheets/home.scss */
.layout-menu {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

/* line 6, app/assets/stylesheets/home.scss */
.menu-item {
  font-family: 'Open Sans', sans-serif;
  color: #3ca3de;
  font-weight: bolder;
  font-size: 1.4em;
}

/* line 12, app/assets/stylesheets/home.scss */
.no-p {
  padding: 0;
}

/* line 16, app/assets/stylesheets/home.scss */
body {
  background-color: black;
}

/* line 24, app/assets/stylesheets/home.scss */
.name-left {
  font-family: 'Open Sans';
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 39, app/assets/stylesheets/home.scss */
.name-right {
  font-family: 'Open Sans';
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 54, app/assets/stylesheets/home.scss */
.ori-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
