= form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
