.container-fluid
  .row.bg-title
    %h2
      = "Request #{@type.capitalize}"
  - if @type == "user"
    .row
      .col-6
        .white-box
          %h3.box-title
            New Request
          .row{style: "margin-bottom: 10px"}
            .col-2{style: "text-align: right; padding-right: 0; padding-top: 4px"}
              ID
            .col-10
              = text_field_tag "id", nil,style: "width: 100%; padding: 4px; border: 0; border-bottom: 2px solid #2196f3", "data-toggle": "tooltip", "data-placement":"top", title: "to fetch more #{@type}\n Just place a , between the ID's",placeholder: "10221722 (You can fetch more by putting a , between the ids)"
          %h3.box-title
            Fields to include
          .row
            .col-12
              .row
                .col-4
                  %label.check
                    = check_box_tag "alias"
                    %span.checkmark
                    Alias
                .col-4
                  %label.check
                    = check_box_tag "nickname"
                    %span.checkmark
                    Nickname
                .col-4
                  %label.check
                    = check_box_tag "region"
                    %span.checkmark
                    Region
                .col-4
                  %label.check
                    = check_box_tag "homepage"
                    %span.checkmark
                    Homepage
                .col-4
                  %label.check
                    = check_box_tag "photo"
                    %span.checkmark
                    Photo
                .col-4
                  %label.check
                    = check_box_tag "premium"
                    %span.checkmark
                    Premium
                .col-4
                  %label.check
                    = check_box_tag "trustLevel"
                    %span.checkmark
                    Trusted
                .col-4
                  %label.check
                    = check_box_tag "level", nil, nil, :disabled => "disabled"
                    %span.checkmark
                    Level
                .col-4
                  %label.check
                    = check_box_tag "awards"
                    %span.checkmark
                    Awards
                .col-4
                  %label.check
                    = check_box_tag "description", nil, nil, :disabled => "disabled"
                    %span.checkmark
                    Description
                .col-4
                  %label.check
                    = check_box_tag "gameaccounts", nil, nil, :disabled => "disabled"
                    %span.checkmark
                    Gameaccounts
          .row.justify-content-center{style: "margin-top: 20px"}
            .col-10
              = submit_tag "Fetch", class: "btn btn-primary btn-block", id: "fetch"
      .col-6
        #results.white-box{style: "display: none"}
          %h3.box-title
            Result
          .error{style: "display:none"}
            %i.fas.fa-exclamation-triangle
            %span#error
              Error occurd, please contact the administrator!
          .pending
            %i.fas.fa-spinner.fa-spin
            Result is fetching. Please wait...
          .result{style: "display:none"}
            .row
              .col-4
                %a.btn.btn-primary.btn-block
                  CSV
              .col-4
                %a.btn.btn-success.btn-block
                  EXCEL
              .col-4
                %a.btn.btn-danger.btn-block
                  JSON
            .row{style: "margin-top: 20px"}
              .col-12
                = text_area_tag "result", '{status: 200, message:"No Result at the moment"}', style: "width: 100%; resize: none", readonly: true
  - elsif @type == "team"
    .row
      .col-6
        .white-box
          %h3.box-title
            New Request
          .row{style: "margin-bottom: 10px"}
            .col-2{style: "text-align: right; padding-right: 0; padding-top: 4px"}
              ID
            .col-10
              = text_field_tag "id", nil,style: "width: 100%; padding: 4px; border: 0; border-bottom: 2px solid #2196f3", "data-toggle": "tooltip", "data-placement":"top", title: "to fetch more #{@type}\n Just place a , between the ID's",placeholder: "10221722 (You can fetch more by putting a , between the ids)"
          %h3.box-title
            Fields to include
          .row
            .col-12
              .row
                .col-4
                  %label.check
                    = check_box_tag "teamname"
                    %span.checkmark
                    Teamname
                .col-4
                  %label.check
                    = check_box_tag "suffix"
                    %span.checkmark
                    Suffix
                .col-4
                  %label.check
                    = check_box_tag "prefix"
                    %span.checkmark
                    Prefix
                .col-4
                  %label.check
                    = check_box_tag "region"
                    %span.checkmark
                    Region
                .col-4
                  %label.check
                    = check_box_tag "area"
                    %span.checkmark
                    Area
                .col-4
                  %label.check
                    = check_box_tag "homepage"
                    %span.checkmark
                    Homepage
                .col-4
                  %label.check
                    = check_box_tag "logo"
                    %span.checkmark
                    Logo
                .col-4
                  %label.check
                    = check_box_tag "memberCount"
                    %span.checkmark
                    Member Count
                .col-4
                  %label.check
                    = check_box_tag "premium"
                    %span.checkmark
                    Premium
                .col-4
                  %label.check
                    = check_box_tag "member", nil, nil, :disabled => "disabled"
                    %span.checkmark
                    Member
                .col-4
                  %label.check
                    = check_box_tag "description", nil, nil, :disabled => "disabled"
                    %span.checkmark
                    Description
          .row.justify-content-center{style: "margin-top: 20px"}
            .col-10
              = submit_tag "Fetch", class: "btn btn-primary btn-block", id: "fetch"
      .col-6
        #results.white-box{style: "display: none"}
          %h3.box-title
            Result
          .error{style: "display:none"}
            %i.fas.fa-exclamation-triangle
            %span#error
              Error occurd, please contact the administrator!
          .pending
            %i.fas.fa-spinner.fa-spin
            Result is fetching. Please wait...
          .result{style: "display:none"}
            .row
              .col-4
                %a.btn.btn-primary.btn-block#CSV
                  CSV
              .col-4
                %a.btn.btn-success.btn-block#EXCEL
                  EXCEL
              .col-4
                %a.btn.btn-danger.btn-block#JSON
                  JSON
            .row{style: "margin-top: 20px"}
              .col-12
                = text_area_tag "result", '{status: 200, message:"No Result at the moment"}', style: "width: 100%; resize: none", readonly: true
-content_for :javascript do
  :javascript
    $('#CSV').click(function()){
      
    }
    $('#fetch').click(function() {
      $('#results').show();
      $('.pending').show();
      $('.result').hide();
      $('#error').hide();
      $(this).attr("disabled", "disabled");
      let link = "#{requests_path}"
      console.log($('#memberCount'))
      $.ajax(link,{
        method: "POST",
        data: {
          type: "#{@type}",
          id: $('#id').val(),
          alias: $('#alias').is( ":checked" ),
          nickname: $('#nickname').is( ":checked" ),
          region: $('#region').is( ":checked" ),
          homepage: $('#homepage').is( ":checked" ),
          photo: $('#photo').is( ":checked" ),
          premium: $('#premium').is( ":checked" ),
          trustLevel: $('#trustLevel').is( ":checked" ),
          level: $('#level').is( ":checked" ),
          awards: $('#awards').is( ":checked" ),
          gameaccounts: $('#gameaccounts').is( ":checked" ),
          teamname: $('#teamname').is( ":checked" ),
          suffix: $('#suffix').is(":checked"),
          prefix: $('#prefix').is(":checked"),
          region: $('#region').is(":checked"),
          area: $('#area').is(":checked"),
          logo: $('#logo').is(":checked"),
          count: $('#memberCount').is(":checked")
        }
      }).done(function(data) {
        if(data["status"] == 200){
          console.log(data)
          $('.pending').hide();
          $('.result').show();
          $('#result').attr("request_id",data["result"]["request_id"]);
          let r = JSON.stringify(data["result"]["body"], undefined, 4);
          let rows = (r.match(/\n/g) || []).length;
          $('#result').css("height",31*rows+"px")
          $('#result').text(r)
        } else if(data["status"] == 400){
          $('#error').text(data["result"])
          $('.pending').hide();
          $('.error').show();
        }
        $('#fetch').removeAttr('disabled');
      })
    });