/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

/* Customize the label (the check) */


.check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}
  }
  
  /* Hide the browser's default checkbox */
  
  /* Create a custom checkbox */
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }


  /* On mouse-over, add a grey background color */
  
  .check {
	&:hover input ~ .checkmark {
	  background-color: #ccc;
	}
	input:checked ~ .checkmark {
	  background-color: #2196F3;
	}
	input:disabled ~ .checkmark {
		background-color: #ff4255;
	}
  }
  
  /* When the checkbox is checked, add a blue background */
  
  /* Create the checkmark/indicator (hidden when not checked) */
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  
  .check {
	input:checked ~ .checkmark:after {
	  display: block;
	}
	.checkmark:after {
	  left: 9px;
	  top: 5px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
  }
  
  /* Style the checkmark/indicator */