.layout-menu {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
.menu-item {
  font-family: 'Open Sans', sans-serif;
  color: #3ca3de;
  font-weight: bolder;
  font-size: 1.4em;
}
.no-p{
  padding: 0;
}

body {
  background-color: black;
}

.ch {

}

.name-left {
  font-family: 'Open Sans';
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 25px;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

.name-right {
  font-family: 'Open Sans';
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 25px;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

.ori-flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}