.ranking th {
  font-weight: bold;
  padding-left: 0 !important;
  padding: 5px;
}
.ranking th:last-child {
  padding-left: 60px !important;
  border-left: 1px solid #ca1518;
}
.ranking th:nth-child(4){
  width: 20%;
}
.ranking td:first-child {
  font-weight: 600;
}
.ranking td {
  padding: 7px 0 !important;
  border-bottom: 1px solid #777 !important;
}
.ranking td:last-child {
  padding-left: 60px !important;
  border-left: 1px solid #ca1518;
  font-weight: 600;
}

.ranking tbody tr:first-child {
  text-shadow: 0 0 7px #ca1518;
  
}

.ranking tbody tr:first-child th{
  border-bottom: 1px solid #ca1518;
}

.ranking table {
  font-family: "Open Sans", sans-serif;
}

.img {
  width: 50px;
  height: auto;
}