= form_for @cup_stat do |f|
  - if @cup_stat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cup_stat.errors.count, "error")} prohibited this cup_stat from being saved:"
      %ul
        - @cup_stat.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :league
    = f.number_field :league
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :uri
    = f.text_field :uri
  .field
    = f.label :size
    = f.text_field :size
  .field
    = f.label :mode
    = f.text_field :mode
  .field
    = f.label :timeline
    = f.text_area :timeline
  .field
    = f.label :signed_up
    = f.number_field :signed_up
  .field
    = f.label :checked_in
    = f.number_field :checked_in
  .actions
    = f.submit 'Save'
