.container-fluid
  -if @list
    .row.bg-title
      Cup List
    .row
      .col-12
        .white-box
          %h3.box-title
            = "Cups - #{@title.upcase}"
          %table.display#cups
            %thead
              %tr
                %th League
                %th Name
                %th Game
                %th Edition
                %th Uri
                %th Size
                %th Mode
                %th Signed up
                %th Checked in
            %tbody
              - @cup_stats.each do |cup_stat|
                %tr
                  %td= cup_stat.league
                  %td= cup_stat.name
                  %td= cup_stat.game
                  %td= cup_stat.edition
                  %td= cup_stat.uri
                  %td= cup_stat.size
                  %td= cup_stat.mode
                  %td= cup_stat.signed_up
                  %td= cup_stat.checked_in
          %br
          = link_to "BACK", cup_stats_path, class: "btn btn-primary"
  - else
    .row.bg-title
      = "Cups - #{@title.upcase}"
    .row
      .col-12
        .white-box
          %h3.box-title
            Cups
          .row
            .col-4
              = link_to "ALL", cup_stats_path(list: "all"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
            .col-4
              = link_to "League of Legends", cup_stats_path(list: "lol"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
            .col-4
              = link_to "Counter Strike", cup_stats_path(list: "csgo"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
            .col-4
              = link_to "Hearthstone", cup_stats_path(list: "hs"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
            .col-4
              = link_to "Rainbow Six", cup_stats_path(list: "rs"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
    .row
      .col-6
        .white-box
          %h3.box-title
            Fetch User / Teams
          .row
            .col-6
              = link_to "USER", new_request_path(type: "user"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
            .col-6
              = link_to "TEAMS", new_request_path(type: "team"), class: "btn btn-block btn-primary", style: "margin-top: 20px"
-content_for :javascript do
  :javascript
    $('#cups').DataTable();
    $('#data').addClass("active");