%p#notice= notice

%p
  %b League:
  = @cup_stat.league
%p
  %b Name:
  = @cup_stat.name
%p
  %b Uri:
  = @cup_stat.uri
%p
  %b Size:
  = @cup_stat.size
%p
  %b Mode:
  = @cup_stat.mode
%p
  %b Timeline:
  = @cup_stat.timeline
%p
  %b Signed up:
  = @cup_stat.signed_up
%p
  %b Checked in:
  = @cup_stat.checked_in

= link_to 'Edit', edit_cup_stat_path(@cup_stat)
\|
= link_to 'Back', cup_stats_path
