- playdays = Playday.all
.container-fluid
  .row
    %h1 Alle Spieltage
  .row.justify-content-center
    .col-8
      - playdays.each do |playday|
        .row
          %a{href: "#{playday_path(playday)}"}
            = "Spieltag #{playday.number} #{playday.division}"
