.container-fluid.justify-content-center
  .row
    .col-8
      %h1 Neuen Spieltag erstellen
  .row
    .col-8
      .row
        .col-2
          Spieltag Nr.
        .col-6
          = text_field_tag "nummer"
      .row
        .col-2
          Division
        .col-6
          = text_field_tag "division"
      .row
        .col-2
          Prozent
        .col-6
          = number_field_tag "prozent"
      .row
        %button.btn#save
          Save
- content_for :javascript do
  :javascript
    let url = "#{playdays_path}"
    $('#save').click(function(){
      $.ajax(url,{
        method: "POST",
        data: {
          nummer: $('#nummer').val(),
          division: $('#division').val(),
          prozent: $('#prozent').val()
        }
      }).done(function(data) {
        alert("Spieltag erstellt!");
      })
    });