- rank = 1
.mvp
  %table.ranking{"cellspacing": 0}
    %tr{style: "border-bottom: 1px solid"}
      %th
        Platz
      %th
        Team
      %th
        Kills
      %th
        Total
    - @ranking.each do |r|
      - team = Team.find(r[0])
      - kills = r[1][:k]
      - points = r[1][:p]
      - color = "#000"
      - if team.division == "Elite"
        - color = "#842727"
      - elsif team.division == "Diamond"
        - color = "#4147f4"
      %tr.mvpitem
        %td{style: "text-align: center"}
          = rank
        %td{style: "color: #{color}; font-weight: bolder"}
          = team.name
        %td{style: "text-align: center"}
          = kills
        %td{style: "text-align: center"}
          = points.round
          - rank += 1

