%h1
    = "Spieltag #{@Playday.number} #{@Playday.division}"
- count = 0
%table.table
    %tr
        %th
            Name
        %th
            Kills
        %th
            Points
    - @Playday.scores.each do |score|
        %tr
            %td
                = "#{score.team.name}"
            %td
                %input.kills{type: "number", value: score.kills,style: "width: 50px", "kill_score_id": score.id, "count_k": count}
            %td
                %input.points{type: "number", value: score.points,style: "width: 50px", "points_score_id": score.id, "count_p": count}
            - count += 1
%button.btn#save
    Save
- content_for :javascript do
    :javascript
        let url = "#{scores_path}"
        let ids = [];
        $('#save').click(function(){
            $('.kills').each(function(e,b){
                let kills = $('.kills')[e].value;
                let points = $('.points')[e].value;
                let id = $('.kills')[e].attributes[2].value
                ids.push({id: id, kills: kills, points: points});
            })
            $.ajax(url,{    
                method: "POST",
                data: {
                    data: ids
                }
            }).done(function(data) {
                location.reload(); 
                ids = [];
            })
        });