= form_for @rp_ticket do |f|
  - if @rp_ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rp_ticket.errors.count, "error")} prohibited this rp_ticket from being saved:"
      %ul
        - @rp_ticket.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :opendBy
    = f.text_field :opendBy
  .field
    = f.label :addedBy
    = f.text_field :addedBy
  .field
    = f.label :mailed
    = f.check_box :mailed
  .field
    = f.label :done
    = f.text_field :done
  .field
    = f.label :whenMailed
    = f.date_select :whenMailed
  .field
    = f.label :whenDone
    = f.date_select :whenDone
  .actions
    = f.submit 'Save'
