-content_for :title do
  RP - Tickets | ESL
.container-fluid
  .row
    .col-10
      .white-box
        %h3.box-title
          RP - Tickets
        - if @rp_tickets.count > 30
          .row
            .col-2
              %button.btn-block.btn
                Select all
            .col-2
              %button.btn.btn-block
                Mark as Mailed
            .col-2
              %button.btn.btn-block
                Mark as Done
        %table.table
          %thead
            %tr
              %th{style:"width: 50px"}
              %th Title
              %th{style:"width: 100px"} Date
              %th{style:"width: 150px"} User
              %th{style:"width: 150px"} Admin
              %th{style:"width: 50px"} Mailed?
              %th{style:"width: 50px"} Done?
          %tbody
            - @rp_tickets.each do |rp_ticket|
              %tr
                %td
                  %input.ticketCheck{type: 'checkbox'}
                %td
                  %a{href: rp_ticket.url}
                    = rp_ticket.title
                %td= rp_ticket.date
                %td
                  - nick = rp_ticket.opendBy.split("|")[0]
                  - id = rp_ticket.opendBy.split("|")[1]
                  %a{ href: "https://play.eslgaming.com/leagueoflegends/player/#{id}"}
                    = nick
                %td
                  - nick = rp_ticket.addedBy.split("|")[0]
                  - id = rp_ticket.addedBy.split("|")[1]
                  %a{ href: "https://play.eslgaming.com/leagueoflegends/player/#{id}"}
                    = nick
                %td
                  - if rp_ticket.mailed == true
                    %i.fa.fa-check{"aria-hidden" => "true", style: "margin-right: 10px"}
                  - else
                    %i.fa.fa-times{"aria-hidden" => "true", style: "margin-right: 10px"}
                %td
                  - if rp_ticket.done == true
                    %i.fa.fa-check{"aria-hidden" => "true", style: "margin-right: 10px"}
                  - else
                    %i.fa.fa-times{"aria-hidden" => "true", style: "margin-right: 10px"}
        .row
          .col-2
            %button.btn-block.btn
              Select all
          .col-2
            %button.btn.btn-block
              Mark as Mailed
          .col-2
            %button.btn.btn-block
              Mark as Done
        %br
        = button_to 'New Rp ticket', new_rp_ticket_path, {class: "btn"}
