%p#notice= notice

%p
  %b Url:
  = @rp_ticket.url
%p
  %b Title:
  = @rp_ticket.title
%p
  %b Date:
  = @rp_ticket.date
%p
  %b Opendby:
  = @rp_ticket.opendBy
%p
  %b Addedby:
  = @rp_ticket.addedBy
%p
  %b Mailed:
  = @rp_ticket.mailed
%p
  %b Done:
  = @rp_ticket.done
%p
  %b Whenmailed:
  = @rp_ticket.whenMailed
%p
  %b Whendone:
  = @rp_ticket.whenDone

= link_to 'Edit', edit_rp_ticket_path(@rp_ticket)
\|
= link_to 'Back', rp_tickets_path
