!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield :title
    = csrf_meta_tags
    = yield :stylesheets
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "plugins/sidebar-nav/dist/sidebar-nav"
    = stylesheet_link_tag "plugins/toast-master/css/jquery.toast"
    = stylesheet_link_tag "plugins/morrisjs/morris"
    = stylesheet_link_tag "plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip"
    = stylesheet_link_tag "plugins/chartist-js/dist/chartist"
    = stylesheet_link_tag "animate"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "colors/default"
    = stylesheet_link_tag "font-aewsome.5"
    = stylesheet_link_tag "plugins/sortable/datatables"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :javascripts
    /[if lt IE 9]
  %body
    #wrapper
      = render "static_pages/navbar"
      = render "static_pages/navigation"
      #page-wrapper
        = yield
        %footer.footer.text-center 2017 © Ample Admin brought to you by wrappixel.com
    = yield :javascript
    = javascript_include_tag 'plugins/sidebar-nav/dist/sidebar-nav'
    = javascript_include_tag 'plugins/chartist-js/dist/chartist'
    = javascript_include_tag 'plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip'
    = javascript_include_tag 'plugins/custom'
    = javascript_include_tag 'plugins/dashboard1'
    = javascript_include_tag 'plugins/sortable/datatables'