!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield :title
    = csrf_meta_tags
    = stylesheet_link_tag 'pubg'
    = yield :stylesheets
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :javascripts
    /[if lt IE 9]
%body
  = yield
  = yield :javascript